@import './style/layout/createJson.scss';
@import './style/layout/templateJson.scss';
@import './style/layout/header.scss';
@import './style/layout/main.scss';
@import './style/layout/footer.scss';

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}

a {
    color: #9b90ff;
}





