@import '../utils.scss';

header {
    margin: 2vh 1vw;
    padding: 0;
    width: 96%;
    height: 10vh;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #000;
    position: fixed;
}